<script lang="ts">
import { gameState } from "../protocol/comm";
import type { PlayerDescription, ShipDescription } from "../protobuf/server_comm";

export let role: number | undefined = undefined;
export let ship: ShipDescription | undefined = undefined;
export let player: PlayerDescription | undefined = undefined;

let mPlayer: PlayerDescription | undefined;
$: {
    if (role != undefined && ship)
        mPlayer = $gameState.server.shipAssignmentState?.players.find((p) => (p.shipId == ship?.id) && (p.roleId == role))
    else if (player)
        mPlayer = player;
}
</script>

{#if mPlayer == undefined}
    <i class="white05 clickPtr">???</i>
{:else}
    <b>{mPlayer.name}</b>
    {#if mPlayer.isConnected}
        <span style="color: green;">•</span>
    {:else}
        <span style="color: red;">•</span>
    {/if}
{/if}

<style>
    
    .clickPtr {
        cursor: pointer;
    }
    .white05 {
        color: rgba(255,255,255,0.5);
    }
</style>
