<script lang="ts">
	import { gameState, assignShip } from "../protocol/comm"
    import type { GameState } from "../protocol/comm"
    import type { PlayerDescription, ShipDescription } from "../protobuf/server_comm";
    import Player from "./Player.svelte";

    function getRoleName(gameState: GameState, role: number): string {
        return gameState.server.shipAssignmentState!.roleNames[role]
    }

    function roleClickHandler(gameState: GameState, ship: ShipDescription, role: number): (e: MouseEvent) => void {
        function handler(event: MouseEvent) {
            // check that the role is not assigned
            let pl = gameState.server.shipAssignmentState!.players.find((p) => {p.shipId == ship.id})
            if (pl != undefined) {
                alert("Tato role je již zabraná! Vyber si jinou!")
                return;
            }

            assignShip(ship, role);
        }

        return handler
    }

    function listFreePlayers(gameState: GameState): PlayerDescription[] {
        let result = []
        for (let p of gameState.server.shipAssignmentState!.players) {
            if ((p.roleId == -1) && (p.shipId == -1))
                result.push(p);
        }
        return result
    }

    function assignNowhere() {
        assignShip()
    }
</script>

{#if $gameState.server.shipAssignmentState != null }
    <div class="wrapper">
        <h2>Přiřazení do lodí a týmů</h2>
        <div class="unassigned-wrapper">
            <div class="unassigned">
                <div><b>Nepřiřazení</b></div>
                <button on:click={assignNowhere}>Zrušit moje přiřazení</button>
                {#each listFreePlayers($gameState) as player }
                    <div class="role">
                        <Player player={player} />
                    </div>
                {/each}
            </div>
        </div>


        <div class="shipAssignment">
            {#each $gameState.server.shipAssignmentState.ships as ship}
                <div class="ship">
                    <div><b>{ship.name}</b></div>
                    {#each ship.roles as role }
                        <div class="role" on:click={roleClickHandler($gameState, ship, role)}>
                            <div class="white08">
                                {getRoleName($gameState, role)}
                            </div>
                            <div>
                                <Player ship={ship} role={role} />
                            </div>
                        </div>
                    {/each}
                </div>
            {/each}
        </div>

        <h3>Seznam všech ({$gameState.server.shipAssignmentState.players.length})</h3>
        <div class="all">
            {#each $gameState.server.shipAssignmentState.players as player }
                <div class="role">
                    <Player player={player} />
                </div>
            {/each}
        </div>
    </div>
{/if}

<style>
    .wrapper {
        margin: 0.5em;
        background-color: rgba(0,0,0,0.2);
        border: 1px solid white;
        border-radius: 0.5em;
        padding: 0.5em;
    }

    h2, h3 {
        text-align: center;
        color: white;
    }

    .shipAssignment {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em;
        justify-content: center;
    }

    .ship {
        background-color: rgba(255,255,255,0.1);
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
        padding: 0.5em;
    }

    .unassigned-wrapper {
        border-right: gray 1px solid;
        padding-right: 0.5em;
        float: left;
        max-width: 20vw;
    }
    .unassigned {
        background-color: rgba(255,255,255,0.1);
        color: white;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        text-align: center;
        width: fit-content;
    }

    .white08 {
        color: rgba(255,255,255,0.8);
    }
    .role {
        border: rgba(255,255,255,0.1) 1px solid;
    }
    .all {
        color: white;
        margin: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
    }

</style>
