<script lang="ts">
	import PowerControl from "../components/PowerControl.svelte";
    import { selectPowerLevel } from "../../protocol/comm"
    import type { SystemAutoRepairState } from "../../protobuf/server_comm";

    export let state: SystemAutoRepairState | undefined
    const name = "Opravování";

    let value: number;
    $: {
        if (state != undefined)
            value = state.powerState.currentPowerState
    }
    function selectPower(ev: CustomEvent<number>) {
        if (!state) {
            console.error("state is null");
            return;
        }
        selectPowerLevel("autoRepair", state.powerState.powerStates[ev.detail]);
    }

    let sliderValue: number = state ? state.powerState.powerStates.indexOf(state.powerState.currentPowerState) : 0;
</script>

{#if state != undefined}
    <div class="chargeController">
        <h3>{name}</h3>
        <table>
            <tr>
                <td>Rychlost opravování</td>
                <td>{Math.round(state.repairRate*1000)/1000}</td>
            </tr>
            <tr>
                <td>Přidělená energie</td>
                <td>{state.powerState.currentPowerState}</td>
            </tr>
        </table>
        <PowerControl charge={0} noDisplay={true} on:change={selectPower} powerLevel={state.powerState.powerStates.indexOf(state.powerState.currentPowerState)} powerLevels={state.powerState.powerStates} allowChange={state.powerState.allowPowerUsageChange} />
    </div>
{/if}

<style>
    .chargeController {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0 0.3em;
    }
</style>
