<script lang="ts">
import { onMount } from "svelte";

import AngleSelector from "../components/AngleSelector.svelte";
import { isEditableElement } from "../../helpers";
import { gameState, setVelocity } from "../../protocol/comm";

const initVel = $gameState.server.mainGameState?.shipState.targetVelocity ?? {x: 0, y: 0}
let currentAngle: number = Math.atan2(initVel.x, initVel.y)
let currentSize: number = Math.round(Math.sqrt(initVel.x ** 2 + initVel.y ** 2))
$: { 
    const vel = $gameState.server.mainGameState?.systems.engines?.currentVelocity
    if (vel) {
        //console.log("Current velocity: ", vel)
        currentAngle = Math.atan2(vel.x, vel.y)
        currentSize = Math.sqrt(vel.x ** 2 + vel.y ** 2)
    } else {
        currentAngle = 0
        currentSize = 0
    }
}

let size = currentSize
let targetAngle = currentAngle

$: maxSpeed = $gameState.server.mainGameState?.systems.engines?.maxVelocity ?? 0

function updateAngle() {
    const x = Math.sin(targetAngle) * size
    const y = Math.cos(targetAngle) * size
    setVelocity(true, {x, y})
}

function keydown(key: KeyboardEvent) {
    if (isEditableElement(document.activeElement)) {
        // another element has focus - ignore our shortcuts
        return
    }

    if (key.key == "ArrowLeft" || key.key == "a") {
        targetAngle += Math.PI/16;
        if (targetAngle > 2*Math.PI) targetAngle -= 2*Math.PI;
    } else if (key.key == "ArrowRight" || key.key == "d") {
        targetAngle -= Math.PI/16;
        if (targetAngle < 0) targetAngle += 2*Math.PI;
    } else if (key.key == "ArrowUp" || key.key == "w") {
        size++;
        if (size > maxSpeed) size=maxSpeed;
    } else if (key.key == "ArrowDown" || key.key == "s") {
        size--;
        if (size < 0) size=0;
    }
    updateAngle();
}

onMount(()=>{
    //updateAngle();
})
</script>

<svelte:window on:keydown={keydown} />
<div>
    <label>Cílová rychlost: <input type=number bind:value={size} on:change={updateAngle} size=3 min=0 max={maxSpeed} /></label>
    <AngleSelector arrow={size > 0}
                   label=Rychlost
                   bind:angle={targetAngle}
                   on:change={updateAngle}
                   secondArrowAngle={currentAngle}
                   secondArrowSize={size > 1 ? currentSize / size : currentSize} />
</div>

<style>
    label { color: white; }
</style>
