<script lang="ts">
	import { gameState, selectPowerLevel, setVelocity } from "../../protocol/comm"
    import type { SystemEnginesState, SystemGenericChargingState } from "../../protobuf/server_comm";
    import { FontAwesomeIcon, FontAwesomeLayers, FontAwesomeLayersText } from 'fontawesome-svelte';
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faBolt} from '@fortawesome/free-solid-svg-icons';
    import SpeedSelector from "./EnginesSpeedSelector.svelte";

    library.add(faBolt);

    export let state: SystemEnginesState | undefined

    let value: number;
    $: {
        if (state != undefined)
            value = state.powerState.currentPowerState
    }
    let enabled: boolean = true;

    function disable() {
        if (!enabled) setVelocity(false, {x: 0, y: 0})
    }
</script>

{#if state != undefined}
    <div class="chargeController">
        <h3>Motory <i>[wsad]</i></h3>
        <label><input type="checkbox" bind:checked={enabled} on:change={disable}/>Aktivní</label>
        {#if enabled}
        <table>
            <tr>
                <td>Max zrychlení</td>
                <td><FontAwesomeIcon icon="bolt"/></td>
            </tr>
            <tr>
                <td>{Math.round(state.maxAcceleration*1000)/1000}</td>
                <td>{state.powerState.currentPowerState}</td>
            </tr>
        </table>
        <SpeedSelector />
        {/if}
    </div>
{/if}

<style>
    .chargeController {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0 0.3em;
    }

    td {
        text-align: center;
    }
    table {
        width: 100%;
    }

    input[type="checkbox"] {
        margin-right: 0.5em;
    }
</style>
