<script lang="ts">
import { isEditableElement } from "../../helpers";

    import {
        remoteMissileControl,
    } from "../../protocol/comm";
    import type {
        SystemRemoteState,
        Vec2,
    } from "../../protobuf/server_comm";

    export let state: SystemRemoteState | undefined;

    export function fire(pos: Vec2) {
        if (armed) {
            remoteMissileControl(false, pos);
            armed = false;
        }
    }

    let armed: boolean;

    $: {
        if (state && !state.active) {
            armed = false;
        }
    }

    function keydown(ev: KeyboardEvent) {

        if (isEditableElement(document.activeElement)) {
            // another element has focus - ignore our shortcuts
            return
        }

        if (ev.key == "q" && state && state.active) {
            kaboom();
        }

        if ("4č".includes(ev.key)) {
            armed = !armed;
        }
    }

    function kaboom() {
        remoteMissileControl(true, {x: 0, y: 0})
    }
</script>

<svelte:window on:keydown={keydown} />
{#if state != undefined}
    <div class="remoteControl {armed}">
        <h3>Ovládání raket</h3>
        <button
            on:click={kaboom}
            disabled={!state.active}
        >
            Kaboom! <i>[q]</i>
        </button>
        <button
            on:click={() => {
                armed = !armed;
            }}
            disabled={!state.active}
        >
            {@html armed ? "Zrušit <i>[4]</i>" : "Zaměřit <i>[4]</i>"}
        </button>
    </div>
{/if}

<style>
    .remoteControl {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        padding: 0 0.3em;
    }

    .false {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .true {
        background-color: rgba(255, 0, 0, 0.5);
    }

    button {
        width: 100%;
    }

    h3 {
        text-align: center;
    }
</style>
