<script lang="ts">
    import { selectPowerLevel, gameState } from "../../protocol/comm"
    import type { SystemShieldState } from "../../protobuf/server_comm";
    import PowerControl from "../components/PowerControl.svelte";
    import ShieldAngleSelector from "./ShieldsAngleSelector.svelte";

    export let state: SystemShieldState | undefined
    let name = "Štíty"

    let value: number;
    $: {
        if (state != undefined)
            value = state.powerState.currentPowerState
    }
    function selectPower(ev: CustomEvent<number>) {
        if (!state) {
            console.error("state is null");
            return;
        }
        let a = state.powerState.powerStates[ev.detail]
        selectPowerLevel("shields", a);
    }

    let sliderValue: number = state ? state.powerState.powerStates.indexOf(state.powerState.currentPowerState) : 0;
</script>

{#if state != undefined}
    <div class="chargeController">
        <h3>{name}</h3>
        <table>
            <tr>
                <td>Absorpce</td>
                <td>{Math.round(state.currentAbsorption*1000)/1000} / {Math.round(state.maxAbsorption*1000)/1000}</td>
            </tr>
            <tr>
                <td>Regenerace absorpce</td>
                <td>{Math.round(state.shieldRegenerationSpeed*1000)/1000}</td>
            </tr>
            <tr colspan=2 class="angle">
                <ShieldAngleSelector />
            </tr>
            <tr>
                <td>Přidělená energie</td>
                <td>{state.powerState.currentPowerState}</td>
            </tr>
        </table>
        <PowerControl charge={0} noDisplay={true} on:change={selectPower} powerLevel={state.powerState.powerStates.indexOf(state.powerState.currentPowerState)} powerLevels={state.powerState.powerStates} allowChange={state.powerState.allowPowerUsageChange} />
    </div>
{/if}

<style>
    .chargeController {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0 0.3em;
    }
</style>
