<script lang="ts">
    import AngleSelector from "../components/AngleSelector.svelte";
    import { gameState, setShieldDirection } from "../../protocol/comm";
    
    const initArcDir = $gameState.server.mainGameState?.systems.shields?.arcDirection ?? {x:1, y:0}
    let currentAngle: number = Math.atan2(initArcDir.x, initArcDir.y)
    $: { 
        const vel = $gameState.server.mainGameState?.systems.shields?.arcDirection
        if (vel) {
            currentAngle = Math.atan2(vel.x, vel.y)
        } else {
            currentAngle = 0
        }
    }
    
    let targetAngle = currentAngle
    
    function updateAngle() {
        const x = Math.sin(targetAngle)
        const y = Math.cos(targetAngle)
        setShieldDirection({x, y})
    }
</script>

<div>
    <AngleSelector arrow={false}
        label=Směr
        bind:angle={targetAngle}
        on:change={updateAngle}
        arc={$gameState.server.mainGameState?.systems.shields?.shieldArcSize} />
</div>
    
<style>
</style>
    