<script lang="ts">
    import {
        selectPowerLevel,
        gameState,
        activateStealth,
    } from "../../protocol/comm";
    import type { SystemGenericChargingState, Vec2 } from "../../protobuf/server_comm";
    import PowerControl from "../components/PowerControl.svelte";
    import { isEditableElement } from "../../helpers";

    export let state: SystemGenericChargingState | undefined;

    let name = "Neviditelnost"

    let keyboardBinding = " ";

    function stealth() {
        activateStealth();
    }

    let active: boolean;
    $: active = $gameState.server.mainGameState?.shipState.isInvisible ?? false;

    function changePower(ev: CustomEvent<number>) {
        if (!state) {
            console.error("State is null!")
            return;
        }
        selectPowerLevel("stealth", state.powerState.powerStates[ev.detail])
    }

    function keydown(ev: KeyboardEvent) {
        if (isEditableElement(document.activeElement)) {
            // another element has focus - ignore our shortcuts
            return
        }

        if (ev.key == " ") {
            stealth();
        }
    }
</script>

<svelte:body on:keydown={keydown} />
{#if state != undefined}
    <div class="chargeController {active}">
        <h3>{name}</h3>
        <PowerControl
            charge={state.chargeState}
            allowChange={state.powerState.allowPowerUsageChange}
            powerLevel={state.powerState.powerStates.indexOf(
                state.powerState.currentPowerState
            )}
            powerLevels={state.powerState.powerStates}
            on:change={changePower}
        />
        <button
            on:click={stealth}
            disabled={$gameState.server.mainGameState?.shipState
                .isInvisible || state.chargeState < 0.999}
        >
            {@html $gameState.server.mainGameState?.shipState.isInvisible
                ? "Již je aktivní"
                : "Zapnout <i>[Space]</i>"}</button
        >
    </div>
{/if}

<style>
    .chargeController {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        padding: 0 0.3em;
    }

    .false {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .true {
        background-color: rgba(255, 0, 0, 0.5);
    }

    button {
        width: 100%;
    }
    h3 {
        text-align: center;
    }
</style>
