<script lang="ts">
    import {
        selectPowerLevel,
        gameState,
        fireCommand,
    } from "../../protocol/comm";
    import type { SystemGenericChargingState, Vec2 } from "../../protobuf/server_comm";
    import PowerControl from "../components/PowerControl.svelte";
    import { isEditableElement } from "../../helpers";

    export let state: SystemGenericChargingState | undefined;
    export let key:
        | "weaponMines"
        | "weaponPlasma"
        | "weaponMissiles"
        | "weaponProbes"
        | "weaponLaser";

    let name = {
        weaponMines: "Miny",
        weaponPlasma: "Plasma",
        weaponMissiles: "Rakety",
        weaponProbes: "Sondy",
        weaponLaser: "Laser",
    }[key];

    let keyboardBinding = {
        weaponMines: "5ř",
        weaponPlasma: "2ě",
        weaponMissiles: "3š",
        weaponProbes: "6ž",
        weaponLaser: "1+",
    }[key];

    export function fire(pos: Vec2) {
        if (armed) {
            fireCommand(key, pos);
            armed = false;
        }
    }

    let armed: boolean;

    $: {
        if (state && state.chargeState != 1) {
            armed = false;
        }
    }

    function changePower(ev: CustomEvent<number>) {
        if (!state) {
            console.error("State is null!")
            return;
        }
        selectPowerLevel(key, state.powerState.powerStates[ev.detail])
    }

    function keydown(ev: KeyboardEvent) {

    if (isEditableElement(document.activeElement)) {
        // another element has focus - ignore our shortcuts
        return
    }

    if (keyboardBinding.includes(ev.key)) {
        armed = !armed;
    }
}
</script>

<svelte:window on:keydown={keydown} />
{#if state != undefined}
    <div class="chargeController {armed}">
        <h3>{name}</h3>
        <PowerControl
            charge={state.chargeState}
            allowChange={state.powerState.allowPowerUsageChange}
            powerLevel={state.powerState.powerStates.indexOf(
                state.powerState.currentPowerState
            )}
            powerLevels={state.powerState.powerStates}
            on:change={changePower}
        />
        <button
            on:click={() => {
                armed = !armed;
            }}
            disabled={state.chargeState < 0.999}
            >{@html armed ? "Zajistit <i>[" + keyboardBinding[0] + "]</i>" : "Odjistit <i>[" + keyboardBinding[0] + "]</i>" }</button
        >
    </div>
{/if}

<style>
    .chargeController {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        padding: 0 0.3em;
    }

    .false {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .true {
        background-color: rgba(255, 0, 0, 0.5);
    }

    button {
        width: 100%;
    }
    h3 {
        text-align: center;
    }
</style>
