<script lang="ts">
    import * as d3 from "d3";
    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    export let width: number = 100
    export let arrow: boolean = false
    export let secondArrowAngle: number | null = null
    export let secondArrowSize: number = 1
    export let angle: number
    export let arc: number = 0
    export let label: string

    let svgElement: SVGElement
    let mousebuttons = 0
    let lastClick = +new Date();
    function click(ev: MouseEvent, force: boolean = false) {
        const [x, y] = d3.pointer(ev, svgElement)
        angle = Math.atan2(x, y)
        const vector = [Math.sin(angle), Math.cos(angle)]

        // dispatch events with limited frequency, not every single time
        if (force || ((+new Date()) - lastClick) > 250) {
            dispatch("change", { angle, vector })
            lastClick = +new Date()
        }
    }
</script>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" bind:this={svgElement}
     class="angle-selector"
     on:contextmenu={ev => {ev.preventDefault(); ev.stopImmediatePropagation(); click(ev); return false}}
     on:click={ev => {ev.stopImmediatePropagation(); ev.preventDefault(); click(ev); return false;}}
     on:mousemove={ev => { if (mousebuttons) click(ev); }}
     on:mousedown={ev => {mousebuttons=1; ev.preventDefault(); ev.stopImmediatePropagation(); return false; }}
     on:mouseup={ev => { mousebuttons=0; ev.preventDefault(); click(ev, true); ev.stopImmediatePropagation(); }}
     on:mouseleave={ev => {mousebuttons = 0;}}
     height=200 width=200
     viewBox="{-width/2},{-width/2},{width},{width}">
    <defs>
        <marker id='arrowhead' orient='auto' markerWidth='2' markerHeight='4' refX='0.1' refY='2'>
            <path d='M0,0 V4 L2,2 Z' fill='yellow' />
        </marker>
        <marker id='arrowhead2' orient='auto' markerWidth='2' markerHeight='4' refX='0.1' refY='2'>
            <path d='M0,0 V4 L2,2 Z' fill='grey' />
        </marker>
    </defs>

    <circle cx="0" cy="0" r={width/2} fill=#222 />

    <text text-anchor="middle" x=0 y="-25" fill=white font-size=10>{label}</text>

    <!-- <path d="M {Math.sin(angle - arc/2)*(width/2)} {Math.cos(angle - arc/2)*(width/2)} A 50 50 0 0 {Math.sin(angle + arc/2)*(width/2)} {Math.cos(angle + arc/2)*(width/2)}" -->
    <path d="M {Math.sin(angle + arc/2)*(width/2-3)} {Math.cos(angle + arc/2)*(width/2-3)} A {(width/2-3)} {(width/2-3)} 0 {arc > Math.PI ? 1 : 0} 1 {Math.sin(angle - arc/2)*(width/2-3)} {Math.cos(angle - arc/2)*(width/2-3)}"
          stroke="#77F"
          fill-opacity=0
          stroke-width=5 />


    {#if arrow}
    <line x1="0" y1="0" x2={Math.sin(angle)*(width/2 - 10)} y2={Math.cos(angle)*(width/2 - 10)} stroke="yellow" 
          stroke-width="2" marker-end="url(#arrowhead)" />
    {/if}

    {#if secondArrowAngle != null}
    <line x1="0" y1="0" x2={Math.sin(secondArrowAngle)*(width/2 - 10)*secondArrowSize} y2={Math.cos(secondArrowAngle)*(width/2 - 10)*secondArrowSize} stroke="grey" 
          stroke-width="1" marker-end="url(#arrowhead2)" />
    {/if}

    <!-- Center point -->
    <circle cx="0" cy="0" r="5" fill="grey" stroke="white" />
</svg>

<style>
    
</style>
