<script lang="ts">
    import { FontAwesomeIcon } from 'fontawesome-svelte';
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faBolt, faBatteryHalf, faBatteryEmpty, faBatteryFull } from '@fortawesome/free-solid-svg-icons';
    import { createEventDispatcher } from "svelte";

    library.add(faBolt, faBatteryHalf, faBatteryEmpty, faBatteryFull);

    const dispatcher = createEventDispatcher();

    export let charge: number; 
    export let powerLevel: number
    export let powerLevels: number[]
    export let allowChange: boolean
    export let noDisplay: boolean = false;

    function add() {
        dispatcher("change", powerLevel+1);
    }
    function sub() {
        dispatcher("change", powerLevel-1);
    }

    function scroll(ev: WheelEvent) {
        const change = ev.deltaX + ev.deltaY + ev.deltaZ;
        console.log("wheel")
        if (change < 0 && powerLevel != powerLevels.length - 1) {
            add()
        } else if (change > 0 && powerLevel != 0) {
            sub()
        }
    }

</script>

{#if !noDisplay}
<div class="power" on:wheel={scroll}>
    <div class="display">
        <div class="col">
            <div>
                {#if charge == 0}
                    <FontAwesomeIcon icon="battery-empty" fixedWidth={true} />
                {:else if charge == 1}
                    <FontAwesomeIcon icon="battery-full" fixedWidth={true} />
                {:else}
                    <FontAwesomeIcon icon="battery-half" fixedWidth={true} />
                {/if}
            </div>
            <div>{Math.round(charge * 100)}%</div>
        </div>
        <div class="col">
            <div><FontAwesomeIcon icon="bolt" fixedWidth={true} /></div>
            <div>
                <span class="gr">{@html powerLevel == 0 ? "&nbsp;" : powerLevels[powerLevel - 1]}</span>
                <b>{powerLevels[powerLevel]}</b>
                <span class="gr">{@html powerLevel + 1 == powerLevels.length ? "&nbsp;" : powerLevels[powerLevel + 1]}</span>
            </div>
        </div>
    </div>
</div>
{/if}
{#if allowChange}
<div class="change" on:wheel={scroll}>
    <button on:click={sub} disabled={powerLevel == 0}>-</button>
    <button on:click={add} disabled={powerLevel == powerLevels.length - 1}>+</button>
</div>
{/if}


<style>
    .gr {
        font-size: 0.5em;
        color: rgba(255,255,255,0.8);
    }

    button {
        flex-grow: 1;
    }

    .change {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }

    .display {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        align-items: center;
        min-width: 7em;
    }
</style>