<script lang="ts">
	import { gameState } from "./protocol/comm"
	import Chat from "./controls/Chat.svelte"
	import SpectateMap from "./SpectateMap.svelte"
	import AdminButtons from "./controls/AdminButtons.svelte"
	import NameChange from "./controls/NameChange.svelte"
	import Connecting from "./Connecting.svelte";
	import ShipAssignment from "./assignment/ShipAssignment.svelte";
	import PlayerMap from "./PlayerMap.svelte";
	import GenericPower from "./controls/systems/Weapon.svelte";
	import ShieldsPower from "./controls/systems/Shields.svelte";
	import EnginesPower from "./controls/systems/Engines.svelte"
	import AutoRepairPower from "./controls/systems/AutoRepair.svelte"
	import PowerState from "./controls/PowerState.svelte";
	import ShipState from "./controls/ShipState.svelte";
	import Time from "./controls/Time.svelte";
	import type { MainGameState, Vec2 } from "./protobuf/server_comm";
	import RemoteControl from "./controls/systems/MissileControl.svelte";
	import StealthControl from "./controls/systems/Stealth.svelte";
	import { onMount } from "svelte";
	import JitsiLink from "./controls/JitsiLink.svelte"
	import BroadcastMessage from "./controls/BroadcastMessage.svelte"

	let weaponLaser: GenericPower;
	let weaponMines: GenericPower;
	let weaponMissiles: GenericPower;
	let weaponPlasma: GenericPower;
	let weaponProbes: GenericPower;
	let remoteControl: RemoteControl;

	let invisibleButton: HTMLElement;

	function fire(ev: CustomEvent<Vec2>) {
		const pos = ev.detail

		weaponLaser.fire(pos)
		weaponMines.fire(pos)
		weaponMissiles.fire(pos)
		weaponPlasma.fire(pos)
		weaponProbes.fire(pos)
		remoteControl.fire(pos)
	}

	onMount(() => {
		function fixWeirdFirefoxBehaviour() {
			if ((document.activeElement as any)?.disabled === true) {
				(document.activeElement as HTMLInputElement).blur()
			}
		}
		setInterval(fixWeirdFirefoxBehaviour, 100)
	})
</script>

<main>
	<button style="display: none" bind:this={invisibleButton}></button>
	<Connecting />
	<div class="background">
		{#if $gameState.server.mainGameState != undefined}
			<PlayerMap on:mapClick={fire}/>
		{:else if $gameState.server.spectatorMap != undefined}
			<SpectateMap />
		{/if}
	</div>
	<div class="foreground">
		<div class="toolbar-left">
			{#if $gameState.server.mainGameState != undefined}
				<Time />
				{#if $gameState.server.playerGameState.gameType == 2} <!-- UGLY HACK, PLEASE DONT-->
					<h4>Brání: {$gameState.server.playerGameState.factionNames[$gameState.server.defendingFaction]}</h4>
				{/if}
			{/if}
			<NameChange />
			<Chat />
		</div>

		<div class="toolbar-center">
			<ShipAssignment />
		</div>

		<div class="toolbar-top">
			{#if $gameState.server.playerGameState.playerIsPrivileged }
				<AdminButtons />
			{/if}
			<JitsiLink />
			<BroadcastMessage />
		</div>

		<div class="toolbar-bottom">
			{#if $gameState.server.mainGameState != undefined}
				<GenericPower bind:this={weaponLaser} state={$gameState.server.mainGameState.systems.weaponLaser} key="weaponLaser"/>
				<GenericPower bind:this={weaponPlasma} state={$gameState.server.mainGameState.systems.weaponPlasma} key="weaponPlasma"/>
				<GenericPower bind:this={weaponMissiles} state={$gameState.server.mainGameState.systems.weaponMissiles} key="weaponMissiles"/>
				<RemoteControl bind:this={remoteControl} state={$gameState.server.mainGameState.systems.remoteMissile} />
				<GenericPower bind:this={weaponMines} state={$gameState.server.mainGameState.systems.weaponMines} key="weaponMines"/>
				<GenericPower bind:this={weaponProbes} state={$gameState.server.mainGameState.systems.weaponProbes} key="weaponProbes"/>

				<StealthControl state={$gameState.server.mainGameState.systems.stealth}/>
				<ShieldsPower state={$gameState.server.mainGameState.systems.shields} />
				<EnginesPower state={$gameState.server.mainGameState.systems.engines} />
				<AutoRepairPower state={$gameState.server.mainGameState.systems.autoRepair} />
			{/if}
		</div>

		<div class="toolbar-right">
			{#if $gameState.server.mainGameState != undefined}
				<ShipState />
				<PowerState />
			{/if}
		</div>
	</div>
</main>

<style>
	:global(body) {
		background: /* top, transparent red, faked with gradient */ 
    		linear-gradient(
      			rgba(0, 0, 0, 0.8), 
      			rgba(0, 0, 0, 0.8)
    		),
			url("/images/background.jpg") top center;
  		background-size: cover;
		padding: 0;
		margin: 0;
	}

	.foreground {
		position: relative;
		z-index: 2000;
	}

	.background {
		position: relative;
		z-index: 0;
	}

	.toolbar-left {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		align-items: flex-start;
		justify-content: center;

		position: fixed;
		max-height: 100vh;
		max-width: 25%;
		overflow-y: auto;

		pointer-events: none;

		top: 0;
		left: 0;
	}
	:global(.toolbar-left > *) {
		pointer-events: initial;
	}
	.toolbar-right {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		align-items: flex-end;
		justify-content: center;

		right: 0;
		top: 0;
		position: fixed;
		max-height: 100vh;
		overflow-y: auto;

		pointer-events: none
	}
	:global(.toolbar-right > *) {
		pointer-events: initial;
	}

	.toolbar-bottom {
		display: flex;
		flex-direction: row;
		gap: 0.5em;
		align-items: flex-end;

		left: 0;
		bottom: 0;
		position: fixed;
		width: 100vw;
		overflow-x: auto;

		pointer-events: none
	}
	:global(.toolbar-bottom > *) {
		pointer-events: initial;
	}

	:global(.toolbar-bottom > *:first-child) {
		margin-left: auto;
	}
	:global(.toolbar-bottom > *:last-child) {
		margin-right: auto;
	}

	.toolbar-center {
		left: 0;
		top: 20%;
		position: fixed;
		width: 100vw;
		max-height: 80vh;

		overflow-y: auto;
	}

	.toolbar-top {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		align-items: center;
		justify-content: center;

		left: 0;
		top: 0;
		position: fixed;
		width: 100vw;
		overflow-x: auto;

		pointer-events: none
	}
	:global(.toolbar-top > *) {
		pointer-events: initial;
	}

	h4 {
		margin: 0;
		padding: 0;
		color: white;
	}
</style>
