<script lang="ts">
	import { gameState } from "./protocol/comm"
</script>

{#if $gameState.connection == undefined }
<div class="connecting">
    <h2>Navazuji spojení...</h2>
    <h4>Pokud se na server nedaří připojit dlouho, refreshni prosím stránku...</h4>
</div>
{/if}

<style>
    .connecting {
        width: 100vw;
        height: 100vh;
        z-index: 10000;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(50, 50, 50, 0.8);

        text-align: center;
    }

    h2 {
        margin-top: 45vh;
        font-size: 5em;
        color: white;
    }

    h4 {
        color: white;
        font-size: 1.5em;
    }
</style>