<script type="ts">
    import { createEventDispatcher, onMount } from "svelte";
    import { gameState, sendPointer } from "./protocol/comm";
    import * as d3 from "d3";
    import { getClickPosition, requestCanvasResize, startRendering, updateRenderingState } from "./renderer";


    const dispatcher = createEventDispatcher();
  
    // Svelte automatically fills these with a reference
    let container: HTMLElement;
    let canvas: HTMLCanvasElement;

    $: {
      updateRenderingState($gameState);
    }
    
    onMount(() => {
      startRendering(canvas, container);


      // send pointers on right click
      d3.select(container)
      .on("contextmenu", (event) => {
        event.preventDefault()

        const pos = getClickPosition(canvas, event)
        sendPointer(pos)
      })
      .on("click", (event) => {
        const pos = getClickPosition(canvas, event);
        dispatcher("mapClick", pos)
      });

    });

    function resize() {
      requestCanvasResize()
    }
  </script>
  
  <style>
    .root {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0px;
      left: 0px;

      cursor: crosshair;
    }
  </style>

<svelte:window on:resize={resize} />
<div class="root" bind:this={container}>
  <canvas bind:this={canvas}></canvas>
</div>
  