<script type="ts">
    import { onMount } from "svelte";
    import * as d3 from "d3";
    import { gameState } from "./protocol/comm";
    import { isEditableElement } from "./helpers";
    import type { Signature } from "./protobuf/server_comm";
	import { SpectateObjectType } from "./protobuf/server_comm"

    // always contains coordinates of world center point
    $: worldCenter = [$gameState.server.worldSize.x / 2, $gameState.server.worldSize.y / 2]
  
    let hoverednode: null | Signature = null;
  
    // Svelte automatically fills these with a reference
    let container: HTMLElement;
    let clientHeight: number = window.innerHeight;
    let clientWidth: number = window.innerWidth;
    let svgElement: SVGElement;
    let innerSvgGroup: SVGElement;
    let mousePosition: [number, number] | null = null;

    let hoveredSignature: Signature | null = null;
    function mouseoverHandler(sig: Signature) {
      return (_event: MouseEvent) => {
        hoveredSignature = sig;
      }
    }
    function mouseoutHandler(sig: Signature) {
      return (_event: MouseEvent) => {
        hoveredSignature = null;
      }
    }
  
    /**
     * Make the SVG drag&zoomable
     **/
    let currentZoomScale = 1.0
    const zoomer = d3.zoom().scaleExtent([0.1, 25]).clickDistance(10);
    function setupZoom() {
      function zoomed(e: any) {
        let svg = d3.select(svgElement).select("g");
        currentZoomScale = e.transform.k
        svg.attr("transform", e.transform);
      }
      zoomer.on("zoom", zoomed);
      const selection = d3.select(container) as any
      selection.call(zoomer);
    }
  
    function keydown(key: KeyboardEvent) {
      if (isEditableElement(document.activeElement)) {
        // another element has focus - ignore our shortcuts
        return
      }
  
      const selection = d3.select(container) as any
      const c = 60 / currentZoomScale
  
      if (key.key == "ArrowLeft" || key.key == "a") {
        zoomer.translateBy(selection, c, 0)
      }
      else if (key.key == "ArrowRight" || key.key == "d") {
        zoomer.translateBy(selection, -c, 0)
      }
      else if (key.key == "ArrowUp" || key.key == "w") {
        zoomer.translateBy(selection, 0, c)
      }
      else if (key.key == "ArrowDown" || key.key == "s") {
        zoomer.translateBy(selection, 0, -c)
      } else if (key.key == "+") {
        zoomer.scaleBy(selection, 1.2)
      } else if (key.key == "-") {
        zoomer.scaleBy(selection, 1/1.2)
      }
    }

    function resetView(x: number, y: number) {
      const selection = d3.select(container) as any
      zoomer.translateTo(selection, x, y)
      zoomer.scaleTo(selection, 4);
    }

    function clickCenter() {
      resetView(worldCenter[0], worldCenter[1])
    }
	
	function getObjectColor(obj: Signature) {
		switch(obj.spectatorType) {
			case SpectateObjectType.Asteroid:
				return "rgb(128, 64, 32)"
			case SpectateObjectType.Ship:
				return "rgb(255, 255, 255)"
			case SpectateObjectType.ShipInvisible:
				return "rgb(100, 110, 128)"
			case SpectateObjectType.Station:
				return "rgb(220, 200, 255)"
			case SpectateObjectType.Mine:
				return "rgb(128, 32, 255)"
			case SpectateObjectType.Probe:
				return "rgb(64, 255, 32)"
			case SpectateObjectType.Missile:
				return "rgb(255, 64, 16)"
			case SpectateObjectType.Plasma:
				return "rgb(220, 255, 64)"
			case SpectateObjectType.Effect:
				return "rgba(255,0,0," + (0.6 + obj.intensity * 0.4) + ")"
		}
		return "rgb(255,0,255)";
	}
  
    onMount(() => {
      // store mouse position
      d3.select(svgElement).on('mousemove', (event) => {
        mousePosition = d3.pointer(event, innerSvgGroup);
      })

      setupZoom();
      resetView(worldCenter[0], worldCenter[1])
    });
  </script>
  
  <style>
    .root {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0px;
      left: 0px;
    }
    circle {
      transition: all 0.3s;
    }
    .bottomCenter {
      position: fixed;
      left: 40%;
      top: 90%;
      width: 20%;

      text-align: center;
      color: gray;
    }
    .topCenter {
      position: fixed;
      left: 40%;
      bottom: 1em;
      width: 20%;

      text-align: center;
      color: white;
    }
  </style>
  
  <svelte:window on:keydown={keydown} />
  
  <div
    class="root"
    bind:this={container}
    bind:clientHeight
    bind:clientWidth>
    <!-- The viewBox must be set to 0,0 origin, otherwise the drag&zoom of the graph breaks -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" bind:this={svgElement} viewBox="{0},{0},{clientWidth},{clientHeight}">
      <g>
        <g
          bind:this={innerSvgGroup}>

          <!-- game world boundary -->
          <line x1={$gameState.server.worldSize.x} y1={$gameState.server.worldSize.y} x2={$gameState.server.worldSize.x} y2="0" stroke="lightgray" stroke-width="0.1px" />
          <line x1={$gameState.server.worldSize.x} y1={$gameState.server.worldSize.y} x2="0" y2={$gameState.server.worldSize.y} stroke="lightgray" stroke-width="0.1px" />
          <line x1={$gameState.server.worldSize.x} y1="0" x2="0" y2="0" stroke="lightgray" stroke-width="0.1px" />
          <line x1="0" y1={$gameState.server.worldSize.y} x2="0" y2="0" stroke="lightgray" stroke-width="0.1px" />

          {#if $gameState.server.spectatorMap }
            {#each $gameState.server.spectatorMap.objects as object (object.id)}
              <circle cx="{object.position.x}" cy="{object.position.y}" r="{object.radius}" fill={getObjectColor(object)} on:mouseover={mouseoverHandler(object)} on:mouseout={mouseoutHandler(object)} />
              {#if object.spectatorType != SpectateObjectType.Asteroid && object.spectatorType != SpectateObjectType.Effect && object.spectatorType != SpectateObjectType.Plasma}
              <text x="{object.position.x}" text-anchor="middle" y="{object.position.y}" fill="white" stroke="transparent" font-size="3">{object.description}</text>
              {/if}
            {/each}
          {/if}
        </g>
      </g>
    </svg>
    <div class="topCenter">
      {#if hoveredSignature != null}
        <p>{hoveredSignature.description}</p>
      {/if}
    </div>
    <div class="bottomCenter">
      <button on:click={clickCenter}>Resetovat pohled</button>
      {#if mousePosition != null }
      <p>[{mousePosition[0].toPrecision(6)}, {mousePosition[1].toPrecision(6)}]</p>
      {/if}
    </div>
  </div>
  