<script lang="ts">
	import { gameState, startGame, endGame } from "../protocol/comm"
    import { GameType } from "../protobuf/server_comm"

    function click(type: GameType) {
        return () => {
            startGame(type);
        }
    }
</script>

{#if $gameState.server.mainGameState == undefined && $gameState.server.spectatorMap == undefined }
<div class="start-game-buttons">
        <p>Jsi admin. Kliknutím na tlačítka níže můžeš začít novou hru:</p>
        <button on:click={click(GameType.Deathmatch)}>Deathmatch</button>
        <button on:click={click(GameType.TeamDeathmatch)}>Team deathmatch</button>
        <button on:click={click(GameType.Defense)}>Defense</button>
        <button on:click={click(GameType.Race)}>Race</button>
</div>
{/if}

<style>
    .start-game-buttons {
        background-color: rgba(0,0,0,0.5);
        border: 1px solid red;
        border-radius: 0.5em;
        color: white;
        padding: 0 0.3em;
        margin-top: 1em;
    }
</style>
