<script type="ts">
import { gameState } from "../protocol/comm";
import type { ChatMessage } from "../protobuf/server_comm";

let msg: ChatMessage | undefined;
let timeout: NodeJS.Timeout | undefined;
$: {
    if ($gameState.server.broadcast != undefined) {
        msg = $gameState.server.broadcast

        if (timeout) clearTimeout(timeout)
        timeout = setTimeout(() => {
            msg = undefined;
            timeout = undefined;
        }, 10000);
    }
}


</script>

{#if msg}
    <div>
        <p>{msg.message}</p>
    </div>
{/if}

<style>
    div {
        background-color: rgba(0,0,0,0.5);
        border: 1px solid red;
        border-radius: 0.5em;
        color: white;
        padding: 0 0.3em;
        margin-top: 1em;
        font-size: 2em;
        max-width: 50%;
    }
</style>
