<script lang="ts">
	import { gameState, sendChatMessage } from "../protocol/comm"
    import type { GameState } from "../protocol/comm"
	import type { ChatMessage } from "../protobuf/server_comm";
	import { ChatMessageType } from "../protobuf/server_comm";

    let inputTextValue: string;

    function send() {
        sendChatMessage(inputTextValue)
        inputTextValue = ""
    }

    function keydown(e: KeyboardEvent) {
        if (e.key == 'Enter') send();
    }

    function messages(gameState: GameState): [number, ChatMessage][] {
        return gameState.chat.map((val, i) => [i,val])
    }

	function numToAlpha(i: number): number {
        return (20 - i) / 20;
    }
	
    function color(i: number): string {
        const intensity = numToAlpha(i);

        return "rgba(255,255,255," + intensity + ")"
    }
	
	function getMsgStyle(type: ChatMessageType, i: number): string {
		let stl: string;
		stl = "";
		if(type == ChatMessageType.EventGlobal) {
			stl = stl + "font-weight:bold;"
		}
		if(type == ChatMessageType.EventShip || type == ChatMessageType.Server) {
			stl = stl + "font-style:italic;"
		}
		if(type == ChatMessageType.EventDamageTaken) {
			stl = stl + "color:rgba(255, 128, 128, " + numToAlpha(i) + ");"
		}
		if(type == ChatMessageType.EventDamageDealt) {
			stl = stl + "color:rgba(128, 255, 128, " + numToAlpha(i) + ");"
		}
		if(type == ChatMessageType.EventTeamDamageDealt) {
			stl = stl + "color:rgba(128, 128, 255, " + numToAlpha(i) + ");"
		}
		if(type == ChatMessageType.EventSelfDamageTaken) {
			stl = stl + "color:rgba(255, 32, 200, " + numToAlpha(i) + ");"
		}
		return stl;
	}
</script>

<div class="chat no-events">
    <input class="events" type="text" bind:value={inputTextValue} on:keydown={keydown} />
    <button class="events" on:click={send} >Poslat zprávu</button>
    <div class="no-events">
    {#each messages($gameState) as msg }
        <p style="color: {color(msg[0])}"><b>{new Date(msg[1].timestamp.UnixMilliseconds).toLocaleString('cs-CZ')}:</b> <span style="{getMsgStyle(msg[1].type, msg[0])}">{msg[1].message}</span></p>
    {/each}
    </div>
</div>

<style>
    .no-events {
        pointer-events: none;
    }
    .events {
        pointer-events: initial;
    }
    .chat {
        color: white;
		font-size: 8px;
    }

    p {
        margin: 0;
        padding: 0;
    }
</style>
