<script type="ts">
    import { gameState } from "../protocol/comm"
    import type { MainGameState } from "../protobuf/server_comm";


    function createJitsiLink(mgs: MainGameState): string {
		return "https://meet.jit.si/BVLLod_8ljokzt" + mgs.shipState.description.id + "im4xprylat28";
	}
</script>


{#if $gameState.server.mainGameState != undefined}
    <div>
         <a target="_blank" href={createJitsiLink($gameState.server.mainGameState)}>Videokonference pro Vaši loď</a>
    </div>
{/if}

<style>
    div {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        padding: 0.3em;
    }

    a{
        color: white;
        text-decoration: underline;
    }
</style>
