<script lang="ts">
	import { gameState, changeName } from "../protocol/comm"

    let name: string
    let setManually: boolean = false

    $: {
        if (!setManually) {
            name = $gameState.server.playerGameState.playerName
        }
    }

    let input: HTMLInputElement;
    

    function change() {
        changeName(name);
        setManually = false;
    }

    function keydown(e: KeyboardEvent) {
        if (!setManually)
            setManually = true;

        if (e.key == 'Enter') {
            change()
        }
    }
</script>

<div class="name-change">
    <input bind:this={input} id="username-change" type="text" bind:value={name} on:keydown={keydown} />
    <button on:click={change}>Změnit jméno</button>
</div>

<style>
    .name-change {
    }
</style>