<script lang="ts">
	import { gameState } from "../protocol/comm"
    import type { ShipReactorPowerState } from "../protobuf/server_comm";

    let state: ShipReactorPowerState
    $: state = $gameState.server.mainGameState!.powerState
</script>

<div class="power-state">
    <h3>Energie</h3>
    <table>
        <tr>
            <td>Energetický výkon</td>
            <td>{state.powerTotal}</td>
        </tr>
        <tr>
            <td>Nepřidělená energie</td>
            <td>{state.powerAvailable}</td>
        </tr>
    </table>
</div>

<style>
    .power-state {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0 0.3em;
    }
</style>
