<script lang="ts">
	import { gameState } from "../protocol/comm"
    import type { PlayerAndGameState, ShipState } from "../protobuf/server_comm";

    let state: ShipState
    $: state = $gameState.server.mainGameState!.shipState
    let pgs: PlayerAndGameState
    $: pgs = $gameState.server.playerGameState!
</script>

<div class="ship-state">
    <h3>Tvoje loď</h3>
    <table>
        <tr>
            <td>Jméno</td>
            <td>{state.description.name} ({pgs.factionNames[state.description.factionid]})</td>
        </tr>
        <tr>
            <td>Životy</td>
            <td class="health">{Math.round(state.healthCurrent*1000)/1000} / {state.healthMax}</td>
        </tr>
        <tr>
            <td>Posádka</td>
            <td>
                <ul>
                {#each state.players as player}
                    <li>{player.name} ({pgs.roleNames[player.roleId]})</li>
                {/each}
                </ul>
                
            </td>
        </tr>
    </table>
</div>

<style>
    .ship-state {
        border: 1px solid white;
        border-radius: 0.5em;
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0 0.3em;
    }

    .health {
        font-size: 3em;
    }
</style>
