<script lang="ts">
    import { gameState } from "../protocol/comm"
    import type { MainGameState } from "../protobuf/server_comm";

    let state: MainGameState
    $: state = $gameState.server.mainGameState!
</script>

<div class="game-time">
    <h3>Čas hry - {Math.round(state.timeElapsed*100)/100} / {state.timeMax}</h3>
</div>

<style>
    .game-time {
        color: white;
    }
</style>
